
<mat-card class="alto">
  <app-sidenav></app-sidenav>
  <h2 class="alinear">Listado de Perfiles</h2>
  <mat-card-header>
 
<!--     <div>
      <mat-form-field hintLabel="Buscar perfil" appearance="fill">
        <mat-label>Buscar perfil</mat-label>
        <input matInput #input>
      </mat-form-field>
    </div> -->
  </mat-card-header>
  <mat-card-header>
    <div fxFlex fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
          <li>
            <button mat-raised-button color="primary" (click)="openPerfilDialog()" >Agregar perfil</button>
          </li>
      </ul>
    </div>
  </mat-card-header>
  <div mat-card-image></div>
 
  <mat-card-content class="tamano">
      <table mat-table [dataSource]="dataSource" class="mat-cell">
           <ng-container matColumnDef="name" >
            <div class="container">
              <th mat-header-cell *matHeaderCellDef class="titulo-col">Perfil</th>
              <th mat-header-cell *matCellDef="let element" >
                <div class="nombre-elemento" >
                  <h1 class="label-nombre">
                    {{element.name}}
                  </h1>
                  <div class="contenedor-edad">
                    <h3 class="label-edad">Edad:</h3>
                    <h2 class="edad-elemento">
                      {{element.tipo_perfil}}
                    </h2>
                  </div>
                </div>
              
               
              </th>
            </div>
         
          </ng-container>
          <!-- Description Column -->
         <!-- actions -->
         <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="titulo-col"></th>

          <td mat-header-cell *matCellDef="let element; let i=index;" >
            <div class="acciones-contenedor">
              <button mat-icon-button  (click)="edit(element.id, element.name, element.tipo_perfil)" class="boton">
                <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
            <br>
            <button mat-icon-button (click)="delete(element.id)" class="boton color-boton">
              <mat-icon aria-label="Delete" color="grey" >delete</mat-icon>
     

            </button>
            </div>
         
          </td>
         </ng-container>
         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
      </table>
  </mat-card-content>
</mat-card>